# INFO 4300: P02, Initial Data Exploration

## Importing and Cleaning Datasets

In [2]:
# importing necessary packages for analysis
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import duckdb

### Dataset 1: Sephora Fragrance Notes GitHub Dataset

In [12]:
# Importing dataset
github_df = pd.read_csv('perfume_database.csv', 
    usecols = ['brand', 'perfume', 'main_accords', 'notes'])
github_df.head()

,brand,perfume,main_accords,notes
0,18 21 Man Made,Sweet Tobacco Spirits,"[""wine"", ""vanilla"", ""sweet"", ""woody"", ""aromatic""]","[""Citruses"", ""Saffron"", ""Tonka Bean"", ""Vanilla..."
1,40 Notes Perfume,Cashmere Musk,"[""woody"", ""musky"", ""balsamic"", ""powdery"", ""war...","[""Sandalwood"", ""Cedar"", ""White Musk"", ""Cashmer..."
2,40 Notes Perfume,Exotic Ylang Ylang,"[""yellow floral"", ""white floral"", ""sweet"", ""mu...","[""Ylang-Ylang"", ""Gardenia"", ""Musk""]"
3,40 Notes Perfume,Exquisite Amber,"[""balsamic"", ""vanilla"", ""amber"", ""musky"", ""war...","[""Labdanum"", ""Styrax"", ""Benzoin"", ""Vanilla"", ""..."
4,40 Notes Perfume,Oudwood Veil,"[""oud"", ""amber"", ""fresh spicy"", ""balsamic"", ""w...","[""Kephalis"", ""Agarwood (Oud)""]"

### Dataset 2: Sephora Products Kaggle Dataset

In [14]:
# Importing dataset
attribs = ['brand', 'name', 'category', 'rating','number_of_reviews','love',
           'price','value_price','ingredients','online_only']
kaggle_df = pd.read_csv('sephora_website_dataset.csv',
    usecols=attribs)
kaggle_df.head()

,brand,category,name,rating,number_of_reviews,love,price,value_price,ingredients,online_only
0,Acqua Di Parma,Fragrance,Blu Mediterraneo MINIATURE Set,4.0,4,3002,66.0,75.0,Arancia di Capri Eau de Toilette: Alcohol Dena...,1
1,Acqua Di Parma,Cologne,Colonia,4.5,76,2700,66.0,66.0,unknown,1
2,Acqua Di Parma,Perfume,Arancia di Capri,4.5,26,2600,180.0,180.0,Alcohol Denat.- Water- Fragrance- Limonene- Li...,1
3,Acqua Di Parma,Perfume,Mirto di Panarea,4.5,23,2900,120.0,120.0,unknown,1
4,Acqua Di Parma,Fragrance,Colonia Miniature Set,3.5,2,943,72.0,80.0,Colonia: Alcohol Denat.- Water- Fragrance- Lim...,1