# INFO 4300: P02, Initial Data Exploration

## Importing and Preliminary Cleaning

In [61]:
# importing necessary packages for analysis
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import duckdb

### Dataset 1: Sephora Fragrance Notes GitHub Dataset

In [62]:
# Importing dataset
github_df = pd.read_csv('perfume_database.csv', 
    usecols = ['brand', 'perfume', 'main_accords', 'notes'])
github_df['perfume'] = github_df['perfume'].str.lower()
print(github_df.size)
github_df.head()

151704

,brand,perfume,main_accords,notes
0,18 21 Man Made,sweet tobacco spirits,"[""wine"", ""vanilla"", ""sweet"", ""woody"", ""aromatic""]","[""Citruses"", ""Saffron"", ""Tonka Bean"", ""Vanilla..."
1,40 Notes Perfume,cashmere musk,"[""woody"", ""musky"", ""balsamic"", ""powdery"", ""war...","[""Sandalwood"", ""Cedar"", ""White Musk"", ""Cashmer..."
2,40 Notes Perfume,exotic ylang ylang,"[""yellow floral"", ""white floral"", ""sweet"", ""mu...","[""Ylang-Ylang"", ""Gardenia"", ""Musk""]"
3,40 Notes Perfume,exquisite amber,"[""balsamic"", ""vanilla"", ""amber"", ""musky"", ""war...","[""Labdanum"", ""Styrax"", ""Benzoin"", ""Vanilla"", ""..."
4,40 Notes Perfume,oudwood veil,"[""oud"", ""amber"", ""fresh spicy"", ""balsamic"", ""w...","[""Kephalis"", ""Agarwood (Oud)""]"

### Dataset 2: Sephora Products Kaggle Dataset

In [57]:
# Importing dataset
attribs = ['name', 'category', 'rating','number_of_reviews','love',
           'price','value_price','ingredients','online_only']
kaggle_df = pd.read_csv('sephora_website_dataset.csv',
    usecols=attribs)
print(kaggle_df['category'].unique()[:10])
filter_values = ['Fragrance', 'Cologne', 'Perfume']
kaggle_df = kaggle_df[kaggle_df['category'].isin(filter_values)]
kaggle_df['name'] = kaggle_df['name'].str.lower()
kaggle_df.head()

['Fragrance' 'Cologne' 'Perfume' 'Body Mist & Hair Mist'
 'Body Lotions & Body Oils' 'Body Sprays & Deodorant' 'Perfume Gift Sets'
 'no category' 'Rollerballs & Travel Size' 'Lip Balm & Treatment']

,category,name,rating,number_of_reviews,love,price,value_price,ingredients,online_only
0,Fragrance,blu mediterraneo miniature set,4.0,4,3002,66.0,75.0,Arancia di Capri Eau de Toilette: Alcohol Dena...,1
1,Cologne,colonia,4.5,76,2700,66.0,66.0,unknown,1
2,Perfume,arancia di capri,4.5,26,2600,180.0,180.0,Alcohol Denat.- Water- Fragrance- Limonene- Li...,1
3,Perfume,mirto di panarea,4.5,23,2900,120.0,120.0,unknown,1
4,Fragrance,colonia miniature set,3.5,2,943,72.0,80.0,Colonia: Alcohol Denat.- Water- Fragrance- Lim...,1

### Merge Datasets

In [67]:
test_dataset = duckdb.sql("""SELECT  k.*, g.*
    FROM kaggle_df k
    INNER JOIN github_df g ON k.name = g.perfume """).df()
test_dataset.drop(['perfume'], axis=1, inplace=True)
print(len(test_dataset))
test_dataset.head()

337

,category,name,rating,number_of_reviews,love,price,value_price,ingredients,online_only,brand,main_accords,notes
0,Perfume,amber musk,4.5,77,5600,130.0,130.0,Alcohol Denat.- Amber Musk Fragrance- Water- B...,1,Aerin Lauder,"[""musky"", ""amber"", ""balsamic"", ""coconut"", ""ros...","[""Ambroxan"", ""Coconut"", ""Rose"", ""Benzoin"", ""Mu..."
1,Perfume,gardenia rattan,4.0,17,1800,130.0,130.0,Alcohol Denat.- Gardenia Rattan Fragrance- Wat...,1,Aerin Lauder,"[""white floral"", ""marine"", ""animalic"", ""tubero...","{""middle"": [""Gardenia"", ""Tuberose"", ""Tahitian ..."
2,Perfume,ikat jasmine,4.5,52,4700,180.0,180.0,Alcohol Denat.- Ikat Jasmine Fragrance- Water-...,1,Aerin Lauder,"[""white floral"", ""tuberose"", ""animalic"", ""wood...","[""Jasmine"", ""Egyptian Jasmine"", ""Tuberose"", ""H..."
3,Perfume,iris meadow,4.5,9,1400,130.0,130.0,Alcohol Denat.- Fragrance- Water- Butyl Methox...,1,Aerin Lauder,"[""woody"", ""green"", ""powdery"", ""floral"", ""musky""]","{""middle"": [""iris"", ""Jasmine""], ""base"": [""Ceda..."
4,Perfume,lilac path,4.5,63,3800,130.0,130.0,Alcohol Denat.- Lilac Path Fragrance- Water- L...,1,Aerin Lauder,"[""white floral"", ""floral"", ""green"", ""musky"", ""...","[""Galbanum"", ""Angelica"", ""Jasmine"", ""Orange Bl..."

In [68]:
# exporting for submission
test_dataset.to_csv('sample_dataset.csv', index=False)

## Analysis on Merged Dataset